body{
    background-color: #7ec855!important;
}
.container{
    
       
        border-radius: 10px;
        background-color: white;
        margin-top: 150px;
        width: 800px!important;

    }
.item{
    display: flex;
    
}

.section{
    display: flex;
    justify-content: space-around;
    
}
img{

    width:100px;
    height:100px;
    transition: transform .2s;
}
.img:hover {
    transform: scale(1.5);
}